---
import '../styles.css';
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lean Stack</title>
	</head>
	<body class="bg-app text-app">
    <div class="relative isolate min-h-svh w-full flex flex-col">
      <div class="grow grid items-center justify-center">
        <h1 class="text-4xl text-primary font-semibold">Lean Stack</h1>
      </div>
    </div>
	</body>
</html>
