@import 'tailwindcss';

:root {
  --bg-app: white;

  --fg-app: #1C2024; /* Slate 12 */
  --fg-primary: #1F2D5C; /* Indigo 12 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-app: #11131F; /* Slate 1 */

    --fg-app: #EDEEF0;
    --fg-primary: #D6E1FF;
  }
}

@theme {
  --background-color-app: var(--bg-app);

  --color-app: var(--fg-app);
  --color-primary: var(--fg-primary);
}
